.container{
    animation: transitionIn 1s ease-out forwards;
    transform-origin: center bottom;
    perspective: 1000px;
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: rotateX(-90deg) translateY(50px) scale(0.2);
    }
    50% {
        opacity: 1;
        transform: rotateX(10deg) translateY(0) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg) translateY(0) scale(1);
    }
}